@model Kelimedya.WebApp.Models.ScoreInfoViewModel
<li class="nav-item d-flex align-items-center me-3" id="scoreInfo">
    <span class="badge bg-yellow-lt me-2"><i class="ti ti-trophy me-1"></i><span id="leagueLabel">@Model.League</span></span>
    <span class="badge bg-blue-lt"><span id="scorePoints">@Model.TotalScore</span></span>
</li>
