@{
    ViewData["Title"] = "Sipariş Onayı";
}

<section class="td_page_heading td_center td_bg_filed td_heading_bg text-center td_hobble" data-src="~/assets/img/others/page_heading_bg.jpg">
    <div class="container">
        <div class="td_page_heading_in">
            <h1 class="td_white_color td_fs_48 td_mb_10">Sipariş Onayı</h1>
            <ol class="breadcrumb m-0 td_fs_20 td_opacity_8 td_semibold td_white_color">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                <li class="breadcrumb-item active">Sipariş Onayı</li>
            </ol>
        </div>
    </div>
    <!-- Diğer şekiller aynı kalabilir -->
</section>

<div class="td_height_120 td_height_lg_80"></div>
<div class="container text-center">
    <h2 class="td_fs_48 td_mb_30">Siparişiniz Başarıyla Tamamlandı!</h2>
    <p class="td_fs_18 mb-0">
        Siparişiniz alındı ve işleme konuldu. En kısa sürede size ulaşacağız. Teşekkür ederiz!
    </p>
    <div class="td_height_30 td_height_lg_30"></div>
    <a asp-controller="Home" asp-action="Index" class="td_btn td_style_1 td_radius_10 td_medium">
        <span class="td_btn_in td_white_color td_accent_bg">
            <span>Ana Sayfaya Dön</span>
        </span>
    </a>
</div>
<div class="td_height_120 td_height_lg_80"></div>
