@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Mesajlar";
}
<h2>Mesajlar</h2>
<div class="card">
    <div class="card-header">Mesaj Kutusu</div>
    <div class="table-responsive">
        <table class="table card-table">
            <thead>
                <tr><th>Gönderen</th><th>Konu</th><th>Tarih</th><th></th></tr>
            </thead>
            <tbody>
                <tr>
                    <td>info@example.com</td>
                    <td>Yeni Üyelik Talebi</td>
                    <td>2025-01-01</td>
                    <td><a class="btn btn-sm btn-info">Oku</a></td>
                </tr>
                <!-- ... -->
            </tbody>
        </table>
    </div>
</div>