@{
    Layout = "_Layout";
}
<div class="td_height_120 td_height_lg_80"></div>
<div class="container">
    <div class="td_table_1">
        <div class="table-responsive">
            <table>
                <thead>
                <tr class="td_accent_bg">
                    <th class="td_white_color td_bold">Ürün</th>
                    <th class="td_white_color td_bold">Birim Fiyatı</th>
                    <th class="td_white_color td_bold">Adet</th>
                    <th class="td_white_color td_bold">Ara Toplam</th>
                    <th class="td_white_color td_bold">Kaldır</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="td_table_meta">
                            <img src="~/theme/web_UI/assets/img/home_5/course_thumb_1.jpg" alt="">
                            <span class="td_fs_18 td_semibold td_heading_color">IELTS Kabul Testi Kısa Kursları</span>
                        </div>
                    </td>
                    <td>$33.00</td>
                    <td>
                        <div class="td_quantity">
                            <button class="td_quantity_btn" type="button">
                                <i class="fa-solid fa-minus"></i>
                            </button>
                            <span class="td_quantity_number">1</span>
                            <button class="td_quantity_btn" type="button">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                    </td>
                    <td>$33.00</td>
                    <td>
                        <button class="td_table_close_btn">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="td_height_60 td_height_lg_40"></div>
    <div class="row td_gap_y_30 td_row_gap_30">
        <div class="col-xl-4 td_gap_y_50">
            <form action="#" class="td_cupon td_mb_50">
                <input type="text" placeholder="Kupon kodu" class="td_cupon_input">
                <button type="submit" class="td_cupon_btn">Uygula</button>
            </form>
            <h3 class="td_fs_16">Kargo Hesapla</h3>
            <form action="#">
                <input type="text" class="td_form_field_2 td_mb_16" placeholder="United States (US)">
                <input type="text" class="td_form_field_2 td_mb_16" placeholder="California">
                <input type="text" class="td_form_field_2 td_mb_16" placeholder="Şehir">
                <input type="text" class="td_form_field_2 td_mb_30" placeholder="Posta Kodu / ZIP">
                <button class="td_btn td_style_1 td_radius_10 td_medium">
              <span class="td_btn_in td_white_color td_accent_bg">
                <span>Güncelle</span>
              </span>
                </button>
            </form>
        </div>
        <div class="col-xl-4">
            <div class="td_total_card">
                <h3 class="td_fs_16 td_mb_2">Sepet Toplamı</h3>
                <div class="td_mb_14">
                    <ul class="td_total_card_list td_mp_0 td_heading_color">
                        <li>
                            <span>Ara Toplam</span>
                            <span class="td_bold">$90.00</span>
                        </li>
                        <li>
                            <span>Kargo</span>
                            <div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="shipping" id="flat_rate" checked>
                                    <label class="form-check-label" for="flat_rate">
                                        Sabit Ücret: <span class="td_bold">$2.00</span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="shipping" id="free_shipping">
                                    <label class="form-check-label" for="free_shipping">
                                        Ücretsiz Kargo
                                    </label>
                                </div>
                                <div class="td_fs_18">Kargo <span class="td_bold">CA.</span> için</div>
                            </div>
                        </li>
                        <li>
                            <span>Toplam</span>
                            <span class="td_bold td_fs_20">$92.00</span>
                        </li>
                    </ul>
                </div>
                <button class="td_btn td_style_1 td_radius_10 td_medium w-100">
              <span class="td_btn_in td_white_color td_accent_bg">
                <span>Ödeme Yap</span>
              </span>
                </button>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="td_btns_group">
                <a href="courses-grid-view.html" class="td_btn td_style_1 td_type_3 td_radius_10 td_medium">
              <span class="td_btn_in td_accent_color">                
                <span>Alışverişe Devam Et</span>
                <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.529297 5.35156H10.5293M10.5293 5.35156L6.0293 0.851562M10.5293 5.35156L6.0293 9.85156" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>  
              </span>
                </a>
                <button class="td_btn td_style_1 td_radius_10 td_medium">
              <span class="td_btn_in td_white_color td_accent_bg">
                <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.669922 7.65625C0.669922 4.34254 3.35621 1.65625 6.66992 1.65625C8.55476 1.65625 10.2366 2.52536 11.3366 3.88469" stroke="currentColor" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M11.6706 1.65625V4.32292H9.00391" stroke="currentColor" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M12.6706 7.65625C12.6706 10.9699 9.98427 13.6562 6.67058 13.6562C4.78574 13.6562 3.10388 12.7871 2.00391 11.4278" stroke="currentColor" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M1.66992 13.6511V10.9844H4.33659" stroke="currentColor" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>                  
                <span>Sepeti Güncelle</span>
              </span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="td_height_120 td_height_lg_80"></div>
