@{
    Layout = "_Layout";
}
<main>
    <section class="td_page_heading td_center td_bg_filed td_heading_bg text-center td_hobble"
             data-src="~/theme/web_UI/assets/img/others/page_heading_bg.jpg">
        <div class="container">
            <div class="td_page_heading_in">
                <h1 class="td_white_color td_fs_48 td_mb_10">Ürün Detayları</h1>
                <ol class="breadcrumb m-0 td_fs_20 td_opacity_8 td_semibold td_white_color">
                    <li class="breadcrumb-item"><a href="index.html">Anasayfa</a></li>
                    <li class="breadcrumb-item active">Ürün Detayları</li>
                </ol>
            </div>
        </div>
        <div class="td_page_heading_shape_1 position-absolute td_hover_layer_3"></div>
        <div class="td_page_heading_shape_2 position-absolute td_hover_layer_5"></div>
        <div class="td_page_heading_shape_3 position-absolute">
            <img src="~/theme/web_UI/assets/img/others/page_heading_shape_3.svg" alt="">
        </div>
        <div class="td_page_heading_shape_4 position-absolute">
            <img src="~/theme/web_UI/assets/img/others/page_heading_shape_4.svg" alt="">
        </div>
        <div class="td_page_heading_shape_5 position-absolute">
            <img src="~/theme/web_UI/assets/img/others/page_heading_shape_5.svg" alt="">
        </div>
        <div class="td_page_heading_shape_6 position-absolute td_hover_layer_3"></div>
    </section>
    <section>
        <div class="td_height_120 td_height_lg_80"></div>
        <div class="container">
            <div class="row td_gap_y_50">
                <div class="col-lg-8">
                    <div class="td_course_details">
                        <div class="embed-responsive embed-responsive-16by9 td_radius_10 td_mb_40">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_uQrJ0TkZlc"
                                    allowfullscreen></iframe>
                        </div>
                        <div class="td_tabs td_style_1 td_mb_50">
                            <ul class="td_tab_links td_style_2 td_type_2 td_mp_0 td_medium td_fs_20 td_heading_color">
                                <li class="active"><a href="#td_tab_1">Genel Bakış</a></li>
                                <li><a href="#td_tab_2">Müfredat</a></li>
                                <li><a href="#td_tab_3">Eğitmen</a></li>
                                <li><a href="#td_tab_4">Yorumlar</a></li>
                            </ul>
                            <div class="td_tab_body td_fs_18">
                                <div class="td_tab active" id="td_tab_1">
                                    <h2 class="td_fs_48 td_mb_20">Kurs Açıklamaları</h2>
                                    <p class="mb-0">Zaman zaman arkadaşlarımızdan biraz yardıma ihtiyacımız olur. Her ne
                                        kadar
                                        tek çatı altında çeşitli yasal ve finansal hizmetlerin entegre bir yelpazesini
                                        sunmanın
                                        tek durak kolaylığını sunsak da, müşterilerimizin özel bir şeye ihtiyaç duyduğu
                                        durumlar
                                        vardır. Bu yüzden bir dizi stratejik ortakla yakın çalışma ilişkileri
                                        geliştirdik.
                                        <br><br>
                                        Bilinmeyen bir matbaacı bir galley tipi alıp bir yazı örneği kitabı yapmak için
                                        karıştırdığında
                                        sadece beş yüzyıl değil, aynı zamanda elektronik dizgiye de sıçrama yaptı.
                                    </p>
                                </div>
                                <div class="td_tab" id="td_tab_2">
                                    <h2 class="td_fs_48 td_mb_20">Kurs Müfredatı</h2>
                                    <p class="mb-0">Zaman zaman arkadaşlarımızdan biraz yardıma ihtiyacımız olur. Her ne
                                        kadar
                                        tek çatı altında çeşitli yasal ve finansal hizmetlerin entegre bir yelpazesini
                                        sunmanın
                                        tek durak kolaylığını sunsak da, müşterilerimizin özel bir şeye ihtiyaç duyduğu
                                        durumlar
                                        vardır. Bu yüzden bir dizi stratejik ortakla yakın çalışma ilişkileri
                                        geliştirdik.
                                        <br><br>
                                        Bilinmeyen bir matbaacı bir galley tipi alıp bir yazı örneği kitabı yapmak için
                                        karıştırdığında
                                        sadece beş yüzyıl değil, aynı zamanda elektronik dizgiye de sıçrama yaptı.
                                    </p>
                                </div>
                                <div class="td_tab" id="td_tab_3">
                                    <h2 class="td_fs_48 td_mb_20">Kurs Eğitmeni</h2>
                                    <p class="mb-0">Zaman zaman arkadaşlarımızdan biraz yardıma ihtiyacımız olur. Her ne
                                        kadar
                                        tek çatı altında çeşitli yasal ve finansal hizmetlerin entegre bir yelpazesini
                                        sunmanın
                                        tek durak kolaylığını sunsak da, müşterilerimizin özel bir şeye ihtiyaç duyduğu
                                        durumlar
                                        vardır. Bu yüzden bir dizi stratejik ortakla yakın çalışma ilişkileri
                                        geliştirdik.
                                        <br><br>
                                        Bilinmeyen bir matbaacı bir galley tipi alıp bir yazı örneği kitabı yapmak için
                                        karıştırdığında
                                        sadece beş yüzyıl değil, aynı zamanda elektronik dizgiye de sıçrama yaptı.
                                    </p>
                                </div>
                                <div class="td_tab" id="td_tab_4">
                                    <h2 class="td_fs_48 td_mb_20">Kurs Yorumları</h2>
                                    <p class="mb-0">Zaman zaman arkadaşlarımızdan biraz yardıma ihtiyacımız olur. Her ne
                                        kadar
                                        tek çatı altında çeşitli yasal ve finansal hizmetlerin entegre bir yelpazesini
                                        sunmanın
                                        tek durak kolaylığını sunsak da, müşterilerimizin özel bir şeye ihtiyaç duyduğu
                                        durumlar
                                        vardır. Bu yüzden bir dizi stratejik ortakla yakın çalışma ilişkileri
                                        geliştirdik.
                                        <br><br>
                                        Bilinmeyen bir matbaacı bir galley tipi alıp bir yazı örneği kitabı yapmak için
                                        karıştırdığında
                                        sadece beş yüzyıl değil, aynı zamanda elektronik dizgiye de sıçrama yaptı.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <h2 class="td_fs_48 td_mb_30">Ne Öğreneceksiniz?</h2>
                        <ul class="td_list td_style_2 td_type_2 td_fs_18 td_medium td_heading_color td_mp_0">
                            <li>
                                <svg class="td_accent_color" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="12" cy="12" r="12" fill="currentColor"></circle>
                                    <path d="M7.5 14.1136C7.5 14.1136 8.52273 14.1136 9.88636 16.5C9.88636 16.5 13.6765 10.25 17.0455 9"
                                          stroke="white" stroke-width="0.8" stroke-linecap="round"
                                          stroke-linejoin="round"></path>
                                </svg>
                                %100 Daha İyi Sonuçlar
                            </li>
                            <li>
                                <svg class="td_accent_color" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="12" cy="12" r="12" fill="currentColor"></circle>
                                    <path d="M7.5 14.1136C7.5 14.1136 8.52273 14.1136 9.88636 16.5C9.88636 16.5 13.6765 10.25 17.0455 9"
                                          stroke="white" stroke-width="0.8" stroke-linecap="round"
                                          stroke-linejoin="round"></path>
                                </svg>
                                Birlikte Parlak Bir Gelecek İnşa Etmek
                            </li>
                            <li>
                                <svg class="td_accent_color" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="12" cy="12" r="12" fill="currentColor"></circle>
                                    <path d="M7.5 14.1136C7.5 14.1136 8.52273 14.1136 9.88636 16.5C9.88636 16.5 13.6765 10.25 17.0455 9"
                                          stroke="white" stroke-width="0.8" stroke-linecap="round"
                                          stroke-linejoin="round"></path>
                                </svg>
                                Bütçe Dostu Eğitim Teması
                            </li>
                            <li>
                                <svg class="td_accent_color" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="12" cy="12" r="12" fill="currentColor"></circle>
                                    <path d="M7.5 14.1136C7.5 14.1136 8.52273 14.1136 9.88636 16.5C9.88636 16.5 13.6765 10.25 17.0455 9"
                                          stroke="white" stroke-width="0.8" stroke-linecap="round"
                                          stroke-linejoin="round"></path>
                                </svg>
                                Eğitim Yoluyla Çocukları Güçlendirmek
                            </li>
                            <li>
                                <svg class="td_accent_color" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="12" cy="12" r="12" fill="currentColor"></circle>
                                    <path d="M7.5 14.1136C7.5 14.1136 8.52273 14.1136 9.88636 16.5C9.88636 16.5 13.6765 10.25 17.0455 9"
                                          stroke="white" stroke-width="0.8" stroke-linecap="round"
                                          stroke-linejoin="round"></path>
                                </svg>
                                Potansiyel Eğitimleri Açığa Çıkarmak
                            </li>
                            <li>
                                <svg class="td_accent_color" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="12" cy="12" r="12" fill="currentColor"></circle>
                                    <path d="M7.5 14.1136C7.5 14.1136 8.52273 14.1136 9.88636 16.5C9.88636 16.5 13.6765 10.25 17.0455 9"
                                          stroke="white" stroke-width="0.8" stroke-linecap="round"
                                          stroke-linejoin="round"></path>
                                </svg>
                                Büyüyen Dahi İlkokulu
                            </li>
                        </ul>
                        <div class="td_height_60 td_height_lg_40"></div>
                        <h4 class="td_fs_24 td_semibold td_mb_20">Gereksinimler</h4>
                        <div class="td_requirements_list td_medium td_fs_18">
                <span class="td_requirement">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.62323 2.73285C3.62323 2.6749 3.67039 2.62807 3.7283 2.62807H17.0304C17.0884 2.62807 17.1355 2.6749 17.1355 2.73285V11.761C17.1355 11.8189 17.0884 11.8657 17.0304 11.8657H10.2019V13.1891H17.0304C17.8182 13.1891 18.459 12.5484 18.459 11.761V2.73285C18.459 1.94541 17.8182 1.30469 17.0304 1.30469H3.72835C2.94061 1.30469 2.2998 1.94545 2.2998 2.73285V5.63045H3.62323V2.73285Z"
                          fill="currentColor"/>
                    <path d="M19.4806 13.7344H10.2017V15.6143H18.6394C19.3908 15.6143 19.9998 15.0054 19.9998 14.2536C19.9998 13.9668 19.7674 13.7344 19.4806 13.7344Z"
                          fill="currentColor"/>
                    <path d="M7.32878 6.95312H1.54968C0.695162 6.95312 0 7.6482 0 8.50276V17.1393C0 17.9938 0.695162 18.689 1.54968 18.689H7.32878C8.18334 18.689 8.87846 17.9938 8.87846 17.1393V8.50276C8.87846 7.6482 8.18334 6.95312 7.32878 6.95312ZM1.32342 8.50276C1.32342 8.37807 1.42486 8.2765 1.54968 8.2765H7.32878C7.45355 8.2765 7.55504 8.37803 7.55504 8.50276V16.5238H1.32342V8.50276ZM4.43912 18.0976C4.23018 18.0976 4.05435 17.9751 3.96533 17.8013C3.92774 17.728 3.90152 17.6481 3.90152 17.56C3.90152 17.263 4.14216 17.0224 4.43917 17.0224C4.73609 17.0224 4.97673 17.263 4.97673 17.56C4.97673 17.648 4.9506 17.728 4.91292 17.8013C4.82377 17.9751 4.64799 18.0976 4.43912 18.0976Z"
                          fill="currentColor"/>
                  </svg>
                      Bilgisayar/ Mobil
                </span>
                            <span class="td_requirement">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_34_14519)">
                    <path d="M19.4841 6.29402C18.7987 5.60863 17.6835 5.60867 16.9979 6.29418C16.7871 6.50523 15.4408 7.85262 15.2351 8.05848V3.41508C15.2351 2.94555 15.0523 2.50414 14.7202 2.17215L13.063 0.514844C12.731 0.182813 12.2896 0 11.82 0H1.75854C0.789287 0 0.000732422 0.788555 0.000732422 1.75781V18.2422C0.000732422 19.2114 0.789287 20 1.75854 20H13.4773C14.4466 20 15.2351 19.2114 15.2351 18.2422V13.0325L19.484 8.77996C20.171 8.09301 20.1712 6.98105 19.4841 6.29402ZM11.7195 1.17188C11.8302 1.17188 12.0435 1.1527 12.2344 1.34348L13.8916 3.00078C14.0776 3.18676 14.0633 3.39055 14.0633 3.51562H11.7195V1.17188ZM14.0632 18.2422C14.0632 18.5653 13.8004 18.8281 13.4773 18.8281H1.75854C1.43546 18.8281 1.17261 18.5653 1.17261 18.2422V1.75781C1.17261 1.43473 1.43546 1.17188 1.75854 1.17188H10.5476V4.10156C10.5476 4.42516 10.81 4.6875 11.1335 4.6875H14.0632V9.23137C14.0632 9.23137 12.3346 10.9615 12.3345 10.9616L11.5062 11.7898C11.4419 11.8541 11.3934 11.9326 11.3647 12.0189L10.536 14.5048C10.4658 14.7154 10.5206 14.9475 10.6776 15.1044C10.8347 15.2616 11.0669 15.3161 11.2772 15.246L13.7631 14.4173C13.8494 14.3886 13.9278 14.3401 13.9921 14.2758L14.0632 14.2047V18.2422ZM12.7492 12.2042L13.5778 13.0328L13.2613 13.3493L12.0183 13.7636L12.4326 12.5207L12.7492 12.2042ZM14.4063 12.204L13.5776 11.3754C14.0189 10.9338 15.9786 8.97234 16.3942 8.55637L17.2229 9.385L14.4063 12.204ZM18.6552 7.95148L18.0512 8.55602L17.2226 7.72738L17.8268 7.12266C18.0554 6.89418 18.427 6.89422 18.6555 7.12266C18.8839 7.35117 18.8851 7.7216 18.6552 7.95148Z"
                          fill="currentColor"/>
                    <path d="M11.1335 5.85938H2.93042C2.60683 5.85938 2.34448 6.12172 2.34448 6.44531C2.34448 6.76891 2.60683 7.03125 2.93042 7.03125H11.1335C11.4571 7.03125 11.7195 6.76891 11.7195 6.44531C11.7195 6.12172 11.4571 5.85938 11.1335 5.85938Z"
                          fill="currentColor"/>
                    <path d="M8.78979 8.20312H2.93042C2.60683 8.20312 2.34448 8.46547 2.34448 8.78906C2.34448 9.11266 2.60683 9.375 2.93042 9.375H8.78979C9.11339 9.375 9.37573 9.11266 9.37573 8.78906C9.37573 8.46547 9.11339 8.20312 8.78979 8.20312Z"
                          fill="currentColor"/>
                    <path d="M8.78979 10.5469H2.93042C2.60683 10.5469 2.34448 10.8092 2.34448 11.1328C2.34448 11.4564 2.60683 11.7188 2.93042 11.7188H8.78979C9.11339 11.7188 9.37573 11.4564 9.37573 11.1328C9.37573 10.8092 9.11339 10.5469 8.78979 10.5469Z"
                          fill="currentColor"/>
                    <path d="M8.78979 12.8906H2.93042C2.60683 12.8906 2.34448 13.153 2.34448 13.4766C2.34448 13.8002 2.60683 14.0625 2.93042 14.0625H8.78979C9.11339 14.0625 9.37573 13.8002 9.37573 13.4766C9.37573 13.153 9.11339 12.8906 8.78979 12.8906Z"
                          fill="currentColor"/>
                    <path d="M11.1335 16.4844H7.61792C7.29433 16.4844 7.03198 16.7467 7.03198 17.0703C7.03198 17.3939 7.29433 17.6562 7.61792 17.6562H11.1335C11.4571 17.6562 11.7195 17.3939 11.7195 17.0703C11.7195 16.7467 11.4571 16.4844 11.1335 16.4844Z"
                          fill="currentColor"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_34_14519">
                    <rect width="20" height="20" fill="white"/>
                    </clipPath>
                    </defs>
                  </svg>                    
                      Kağıt/ Kalem
                </span>
                            <span class="td_requirement">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.3 7.59844C13.7 2.99844 6.3 2.99844 1.7 7.59844C1.3 7.99844 0.7 7.99844 0.3 7.59844C-0.1 7.19844 -0.1 6.59844 0.3 6.19844C5.7 0.798438 14.4 0.798438 19.7 6.19844C20.1 6.59844 20.1 7.19844 19.7 7.59844C19.3 7.99844 18.7 7.99844 18.3 7.59844Z"
                          fill="currentColor"/>
                    <path d="M15.4 10.3984C12.4 7.49844 7.6 7.49844 4.7 10.3984C4.3 10.7984 3.7 10.7984 3.3 10.3984C2.9 9.99844 2.9 9.39844 3.3 8.99844C7 5.19844 13.1 5.19844 16.8 8.99844C17.2 9.39844 17.2 9.99844 16.8 10.3984C16.4 10.7984 15.8 10.7984 15.4 10.3984Z"
                          fill="currentColor"/>
                    <path d="M12.6 13.3969C11.2 11.9969 9 11.9969 7.7 13.3969C7.3 13.7969 6.7 13.7969 6.3 13.3969C5.9 12.9969 5.9 12.2969 6.3 11.8969C8.4 9.59687 11.9 9.59687 14 11.8969C14.4 12.2969 14.4 12.9969 14 13.3969C13.6 13.7969 13 13.7969 12.6 13.3969Z"
                          fill="currentColor"/>
                    <path d="M10.1002 17.9016C11.1495 17.9016 12.0002 17.0509 12.0002 16.0016C12.0002 14.9522 11.1495 14.1016 10.1002 14.1016C9.05085 14.1016 8.2002 14.9522 8.2002 16.0016C8.2002 17.0509 9.05085 17.9016 10.1002 17.9016Z"
                          fill="currentColor"/>
                  </svg>                    
                      İnternet Bağlantısı
                </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="td_card td_style_7">
                        <a href="https://www.youtube.com/embed/rRid6GCJtgc"
                           class="td_card_video_block td_video_open d-block">
                            <img src="~/theme/web_UI/assets/img/others/video_thumb.jpg" alt="">
                            <span class="td_player_btn_wrap_2">
                  <span class="td_player_btn td_center">
                    <span></span>
                  </span>
                </span>
                        </a>
                        <div class="td_height_30 td_height_lg_30"></div>
                        <h3 class="td_fs_20 td_semibold td_mb_15">Kurs İçeriği:</h3>
                        <ul class="td_card_list td_mp_0 td_fs_18 td_medium">
                            <li>
                  <span>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g clip-path="url(#clip0_34_14719)">
                      <path d="M22.9338 18.4587L19.1609 10.4029C19.0786 10.2271 18.8693 10.1514 18.6934 10.2337C18.5175 10.316 18.4417 10.5254 18.5241 10.7012L22.2969 18.7568C22.4657 19.1176 22.3095 19.5488 21.9487 19.7178L14.7151 23.1054C14.3544 23.2744 13.9234 23.1183 13.7543 22.7576L12.4019 19.8691L15.9219 11.3762C16.074 11.0091 16.0655 10.5919 15.8986 10.2314L13.9732 6.07225L16.469 6.86182C16.6611 6.92248 16.8201 7.06179 16.9054 7.24442L17.8298 9.21758C17.8896 9.34518 18.0163 9.42008 18.1485 9.42008C18.1984 9.42008 18.2491 9.40935 18.2974 9.3868C18.4732 9.30444 18.549 9.09505 18.4665 8.91922L17.5422 6.94638C17.374 6.58629 17.06 6.31108 16.6809 6.19136L13.671 5.23914C14.2916 4.33266 14.9452 3.12052 15.1701 2.57784C15.7599 1.15489 15.2839 0.363546 14.6418 0.0973879C13.9997 -0.168676 13.1035 0.0539344 12.5137 1.47688C12.26 2.08888 12.0273 3.42174 11.8618 4.56516C11.6648 4.5774 11.4668 4.61865 11.274 4.69238L6.72017 6.4323C6.35585 6.57152 6.06124 6.85802 5.9119 7.21826L1.04132 18.9701C0.895492 19.322 0.895398 19.7095 1.04109 20.0614C1.18673 20.4133 1.46071 20.6874 1.81251 20.8331L3.23705 21.4235C3.41644 21.4979 3.62218 21.4128 3.69648 21.2334C3.77082 21.054 3.6857 20.8483 3.5063 20.7739L2.08176 20.1835C1.9035 20.1096 1.76461 19.9707 1.69078 19.7924C1.61695 19.614 1.617 19.4176 1.69092 19.2393L6.56163 7.48732C6.63734 7.30474 6.78663 7.15952 6.97128 7.08898L11.5251 5.34906C11.6033 5.31915 11.6829 5.2975 11.7628 5.28339C11.7193 5.61362 11.6841 5.90242 11.6586 6.11889C11.5095 6.12742 11.3618 6.16422 11.2224 6.22947C10.9351 6.364 10.7173 6.60241 10.6093 6.90073C10.5013 7.19909 10.5159 7.52159 10.6504 7.80893C10.8521 8.23972 11.281 8.49294 11.728 8.49294C11.8964 8.49294 12.0675 8.45694 12.2299 8.38091C12.5172 8.24637 12.735 8.00792 12.843 7.70965C12.951 7.41129 12.9364 7.08879 12.8019 6.80144C12.7017 6.5875 12.5438 6.41228 12.3466 6.29205C12.3727 6.06817 12.4126 5.73803 12.4632 5.3537C12.7675 5.47229 13.0277 5.70344 13.174 6.01942L15.2605 10.5266C15.3451 10.7093 15.3493 10.9208 15.2722 11.1068L10.4048 22.8509C10.3309 23.0292 10.192 23.1681 10.0137 23.2419C9.83536 23.3158 9.63895 23.3157 9.46064 23.2418L5.11066 21.439C4.93136 21.3645 4.72558 21.4497 4.65123 21.6291C4.57694 21.8085 4.66201 22.0142 4.84141 22.0886L9.19138 23.8914C9.36928 23.9652 9.55382 24 9.73542 24C10.2951 24 10.8271 23.6685 11.0543 23.1201L12.0373 20.7487L13.1175 23.0558C13.3597 23.5727 13.8745 23.8767 14.4108 23.8767C14.613 23.8767 14.8184 23.8334 15.0133 23.7421L22.2469 20.3545C22.9587 20.0211 23.2668 19.1707 22.9338 18.4587ZM12.1818 7.47021C12.1378 7.5919 12.0489 7.68917 11.9317 7.7441C11.6897 7.85745 11.4006 7.75273 11.2872 7.51076C11.2323 7.39357 11.2264 7.26195 11.2704 7.14021C11.3145 7.01852 11.4033 6.92126 11.5206 6.86632C11.5859 6.83571 11.6557 6.82033 11.7258 6.82033C11.7814 6.82033 11.8372 6.83004 11.8911 6.84954C12.0128 6.8936 12.11 6.98243 12.165 7.09966C12.2199 7.21695 12.2259 7.34848 12.1818 7.47021ZM13.0677 4.87581C12.9101 4.77592 12.7394 4.69834 12.561 4.64513C12.7195 3.54792 12.937 2.29265 13.1635 1.74604C13.323 1.36105 13.7602 0.493203 14.3727 0.746939C14.9852 1.00082 14.6802 1.9236 14.5206 2.30854C14.3044 2.83017 13.667 4.00899 13.0677 4.87581Z"
                            fill="currentColor"/>
                      <path d="M7.23809 11.8558C7.99982 11.4504 8.87385 11.3658 9.69923 11.6178C11.0692 12.0361 11.9888 13.2784 11.9874 14.7094C11.9873 14.9035 12.1445 15.0611 12.3387 15.0613C12.3388 15.0613 12.3389 15.0613 12.3391 15.0613C12.5331 15.0613 12.6905 14.9041 12.6907 14.71C12.6914 13.8844 12.4229 13.0604 11.9345 12.3897C11.4294 11.696 10.7274 11.1965 9.9045 10.9452C7.82985 10.3119 5.62685 11.4845 4.99361 13.559C4.68681 14.564 4.78975 15.6283 5.28349 16.5559C5.77718 17.4834 6.60246 18.1632 7.60742 18.47C7.98303 18.5847 8.37018 18.6416 8.75662 18.6416C9.30614 18.6416 9.85383 18.5264 10.363 18.2983C11.2216 17.9136 11.9142 17.2353 12.3132 16.3883C12.396 16.2127 12.3206 16.0032 12.145 15.9204C11.9694 15.8376 11.7598 15.913 11.6771 16.0886C10.9989 17.5283 9.33773 18.263 7.81283 17.7974C6.9875 17.5455 6.30973 16.9872 5.90426 16.2255C5.49883 15.4638 5.41427 14.5897 5.66627 13.7644C5.91808 12.9391 6.47642 12.2613 7.23809 11.8558Z"
                            fill="currentColor"/>
                      <path d="M10.1082 13.7475C10.0241 13.5893 9.88337 13.4733 9.71195 13.4211L9.55225 13.3723L9.66076 13.0168C9.71743 12.8311 9.61286 12.6345 9.42718 12.5779C9.24137 12.5213 9.04496 12.6258 8.98824 12.8114L8.87729 13.175C8.40886 13.0942 7.94105 13.3724 7.79878 13.8386C7.72406 14.0834 7.74914 14.3426 7.86938 14.5684C7.98956 14.7943 8.19061 14.9599 8.4353 15.0346L8.8779 15.1697C8.94301 15.1895 8.99645 15.2335 9.02841 15.2936C9.06038 15.3537 9.06704 15.4226 9.04717 15.4877C9.02729 15.5528 8.98327 15.6062 8.92318 15.6382C8.86313 15.6702 8.79423 15.6769 8.72912 15.657L8.50786 15.5894L8.04146 15.4471C8.07807 15.2711 7.97503 15.0931 7.79977 15.0396C7.61395 14.983 7.4175 15.0875 7.36083 15.2732C7.25287 15.6269 7.45275 16.0025 7.80652 16.1106L7.96627 16.1593L7.85775 16.5148C7.80108 16.7006 7.90566 16.8971 8.09133 16.9538C8.12555 16.9642 8.1601 16.9692 8.19408 16.9692C8.34465 16.9692 8.48401 16.8717 8.53027 16.7201L8.64113 16.357C8.69551 16.3664 8.75016 16.3717 8.80473 16.3717C8.95956 16.3717 9.11307 16.3338 9.2536 16.2589C9.47945 16.1388 9.64506 15.9377 9.71973 15.693C9.87395 15.1878 9.58843 14.6513 9.08321 14.4971L8.64062 14.362C8.57555 14.3421 8.52211 14.2981 8.49015 14.238C8.45818 14.178 8.45147 14.109 8.4714 14.0439C8.51236 13.9096 8.65496 13.8335 8.78949 13.8746L9.0106 13.9421L9.01074 13.9422H9.01084L9.4771 14.0845C9.4405 14.2604 9.54353 14.4385 9.71879 14.492C9.90451 14.5486 10.1011 14.4441 10.1577 14.2583C10.21 14.0871 10.1924 13.9056 10.1082 13.7475Z"
                            fill="currentColor"/>
                      <path d="M20.6055 18.4368L18.3553 13.6551C18.2726 13.4794 18.063 13.404 17.8875 13.4867C17.7118 13.5694 17.6364 13.7789 17.7191 13.9545L19.9693 18.7362C20.0292 18.8635 20.1557 18.9382 20.2877 18.9382C20.3378 18.9382 20.3888 18.9274 20.4371 18.9046C20.6128 18.822 20.6882 18.6125 20.6055 18.4368Z"
                            fill="currentColor"/>
                      <path d="M19.0333 19.2806L16.7831 14.4989C16.7004 14.3231 16.4908 14.2477 16.3153 14.3304C16.1396 14.4131 16.0641 14.6226 16.1468 14.7982L18.397 19.5799C18.4569 19.7073 18.5834 19.7819 18.7154 19.7819C18.7656 19.7819 18.8165 19.7712 18.8648 19.7484C19.0405 19.6657 19.1159 19.4562 19.0333 19.2806Z"
                            fill="currentColor"/>
                      </g>
                      <defs>
                      <clipPath id="clip0_34_14719">
                      <rect width="24" height="24" fill="white"/>
                      </clipPath>
                      </defs>
                    </svg>                      
                    Fiyat :
                  </span>
                                <span class="td_semibold td_accent_color">69₺</span>
                            </li>
                            <li>
                  <span>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M20.6926 4.25056C20.2951 4.16806 19.8976 4.11556 19.5001 4.04806V3.64306C19.4999 3.35082 19.4376 3.06195 19.3174 2.79559C19.1971 2.52923 19.0217 2.29147 18.8026 2.09806C18.5791 1.90185 18.3163 1.75554 18.0318 1.6689C17.7472 1.58225 17.4475 1.55725 17.1526 1.59556C15.1899 1.8282 13.3688 2.73478 12.0001 4.16056C10.6314 2.73478 8.81025 1.8282 6.84757 1.59556C6.55263 1.55725 6.25291 1.58225 5.96839 1.6689C5.68387 1.75554 5.42109 1.90185 5.19757 2.09806C4.97849 2.29147 4.80301 2.52923 4.68276 2.79559C4.56251 3.06195 4.50024 3.35082 4.50007 3.64306V4.04806C4.10257 4.11556 3.70507 4.16806 3.30757 4.25056C2.79797 4.35278 2.33948 4.62827 2.00999 5.03022C1.68049 5.43218 1.50032 5.93581 1.50007 6.45556V19.1606C1.49753 19.4801 1.5631 19.7966 1.69243 20.0889C1.82175 20.3811 2.01185 20.6425 2.25007 20.8556C2.49145 21.0656 2.77486 21.2218 3.08137 21.3136C3.38789 21.4054 3.71046 21.4308 4.02757 21.3881C6.62806 21.0375 9.27492 21.4005 11.6851 22.4381C11.7776 22.4773 11.8771 22.4974 11.9776 22.4974C12.0781 22.4974 12.1775 22.4773 12.2701 22.4381C14.6802 21.4005 17.3271 21.0375 19.9276 21.3881C20.2472 21.4311 20.5724 21.4049 20.881 21.3112C21.1896 21.2176 21.4745 21.0587 21.7163 20.8453C21.9581 20.6319 22.1513 20.369 22.2826 20.0745C22.414 19.7799 22.4805 19.4606 22.4776 19.1381V6.45556C22.4784 5.93896 22.3014 5.43782 21.9764 5.03629C21.6513 4.63477 21.198 4.35732 20.6926 4.25056ZM17.3476 3.08056C17.4308 3.06957 17.5153 3.07661 17.5956 3.1012C17.6758 3.12579 17.7498 3.16735 17.8126 3.22306C17.8717 3.27591 17.9189 3.34064 17.9512 3.41302C17.9835 3.4854 18.0002 3.56379 18.0001 3.64306V16.6256C18.0043 16.7989 17.9483 16.9684 17.8417 17.1052C17.735 17.2419 17.5843 17.3375 17.4151 17.3756C15.6621 17.6746 14.038 18.4893 12.7501 19.7156V5.54806C13.9206 4.18024 15.5607 3.30001 17.3476 3.08056ZM6.00007 3.64306C6.00201 3.49249 6.06269 3.34864 6.16917 3.24216C6.27565 3.13568 6.4195 3.075 6.57007 3.07306H6.65257C8.44054 3.29446 10.0808 4.17745 11.2501 5.54806V19.7156C9.96406 18.4838 8.33977 17.6639 6.58507 17.3606C6.41588 17.3225 6.26513 17.2269 6.15847 17.0902C6.05181 16.9534 5.99583 16.7839 6.00007 16.6106V3.64306ZM3.84757 19.9031C3.74122 19.917 3.63311 19.908 3.53054 19.8766C3.42797 19.8452 3.33333 19.7922 3.25301 19.7211C3.17268 19.65 3.10853 19.5625 3.0649 19.4645C3.02127 19.3665 2.99916 19.2603 3.00007 19.1531V6.45556C2.99653 6.2801 3.05464 6.10896 3.16427 5.97192C3.2739 5.83488 3.42811 5.74062 3.60007 5.70556C3.90007 5.64556 4.20007 5.60056 4.50007 5.55556V16.6256C4.49992 17.1508 4.68357 17.6596 5.01917 18.0637C5.35478 18.4678 5.82119 18.7418 6.33757 18.8381C7.44079 19.0318 8.48499 19.4757 9.39007 20.1356C7.57088 19.7308 5.69428 19.652 3.84757 19.9031ZM21.0001 19.1531C21.001 19.2603 20.9789 19.3665 20.9352 19.4645C20.8916 19.5625 20.8275 19.65 20.7471 19.7211C20.6668 19.7922 20.5722 19.8452 20.4696 19.8766C20.367 19.908 20.2589 19.917 20.1526 19.9031C18.3059 19.652 16.4293 19.7308 14.6101 20.1356C15.5152 19.4757 16.5593 19.0318 17.6626 18.8381C18.179 18.7418 18.6454 18.4678 18.981 18.0637C19.3166 17.6596 19.5002 17.1508 19.5001 16.6256V5.57056C19.8001 5.61556 20.1001 5.66056 20.4076 5.72056C20.5781 5.75715 20.7306 5.85206 20.8388 5.98895C20.9469 6.12584 21.004 6.29615 21.0001 6.47056V19.1531Z"
                            fill="currentColor"/>
                    </svg>                      
                    Ders Sayısı :
                  </span>
                                <span class="td_semibold td_accent_color">12</span>
                            </li>
                            <li>
                  <span>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M19.3462 15.852V13.3536L18.2918 13.7638L18.2887 13.7569L18.2636 13.7112C17.8596 13.0822 17.2062 12.6445 16.4704 12.5111L13.9333 12.0495V11.8492C14.8821 11.2983 15.5769 10.3583 15.7934 9.24716C16.4963 9.10178 17.0264 8.47814 17.0264 7.73271V3.91391C17.0264 2.83481 16.3196 1.89374 15.2943 1.58752L15.1009 1.39421C14.2016 0.494893 13.0061 0 11.7345 0C9.10963 0 6.97386 2.13539 6.97386 4.76064V7.73271C6.97386 8.47814 7.50394 9.10178 8.20684 9.24716C8.42374 10.3583 9.11814 11.2986 10.0669 11.8492V12.0495L7.53023 12.5107C6.79523 12.6441 6.14221 13.081 5.73779 13.7097L5.71459 13.7661L4.65405 13.3536V15.852C4.01455 15.852 3.49414 16.3725 3.49414 17.012V18.5585C3.49414 19.198 4.01455 19.7184 4.65405 19.7184V21.1428L12.0001 24L19.3462 21.1428V19.7184C19.9857 19.7184 20.5061 19.198 20.5061 18.5585V17.012C20.5061 16.3725 19.9857 15.852 19.3462 15.852ZM14.6578 12.9674L16.332 13.2716C16.8249 13.3613 17.2615 13.6459 17.5526 14.0511L13.8119 15.5056L14.6578 12.9674ZM10.8731 12.2038C11.2299 12.3128 11.6081 12.3723 12.0001 12.3723C12.3922 12.3723 12.7703 12.3128 13.1272 12.2038L12.0001 13.0489L10.8731 12.2038ZM11.4117 13.574L10.6225 14.3627L10.1106 12.8274L10.3569 12.7829L11.4117 13.574ZM13.6433 12.7833L13.8896 12.8278L13.3777 14.3631L12.5886 13.5744L13.6433 12.7833ZM15.8665 8.39849V7.06692C16.0965 7.20108 16.2531 7.44776 16.2531 7.73271C16.2531 8.01766 16.0965 8.26433 15.8665 8.39849ZM8.13376 8.39849C7.90372 8.26433 7.74713 8.01766 7.74713 7.73271C7.74713 7.44776 7.90372 7.20108 8.13376 7.06692V8.39849ZM8.13376 5.79953V6.24107C7.99612 6.27702 7.86699 6.33115 7.74713 6.40113V4.76064C7.74713 2.56223 9.5357 0.773271 11.7345 0.773271C12.7993 0.773271 13.8011 1.18813 14.5542 1.9413L14.8952 2.28269L14.9992 2.30821C15.7377 2.49264 16.2531 3.15301 16.2531 3.91391V6.40113C16.1332 6.33115 16.0041 6.27664 15.8665 6.24107V5.79953H14.6405C13.5927 5.79953 12.5913 5.29922 11.963 4.46138L11.6556 4.05078L10.8874 4.81941C10.2548 5.45156 9.4143 5.79953 8.5204 5.79953H8.13376ZM8.90704 8.50598V6.55502C9.86164 6.46648 10.7474 6.05239 11.4341 5.36611L11.5845 5.21571C12.3597 6.07133 13.4763 6.5728 14.6405 6.5728H15.0932V8.50598C15.0932 10.2114 13.7056 11.5991 12.0001 11.5991C10.2947 11.5991 8.90704 10.2114 8.90704 8.50598ZM7.66826 13.2716L9.34239 12.9674L10.1883 15.5056L6.44687 14.0507C6.73801 13.6451 7.1753 13.3613 7.66826 13.2716ZM4.26741 18.5585V17.012C4.26741 16.7985 4.44101 16.6253 4.65405 16.6253C5.29354 16.6253 5.81395 17.1457 5.81395 17.7852C5.81395 18.4247 5.29354 18.9451 4.65405 18.9451C4.44101 18.9451 4.26741 18.7719 4.26741 18.5585ZM11.6135 23.0195L5.42732 20.6142V19.5545C6.10896 19.2552 6.58722 18.5759 6.58722 17.7852C6.58722 16.9946 6.10896 16.3152 5.42732 16.016V14.4841L11.6135 16.8898V23.0195ZM10.4656 15.6139L12.0001 14.0789L13.5347 15.6135L12.0001 16.2105L10.4656 15.6139ZM18.5729 20.6138L12.3868 23.0191V16.8898L18.5729 14.4841V16.016C17.8913 16.3152 17.413 16.9946 17.413 17.7852C17.413 18.5759 17.8913 19.2552 18.5729 19.5545V20.6138ZM19.7328 18.5585C19.7328 18.7719 19.5592 18.9451 19.3462 18.9451C18.7067 18.9451 18.1863 18.4247 18.1863 17.7852C18.1863 17.1457 18.7067 16.6253 19.3462 16.6253C19.5592 16.6253 19.7328 16.7985 19.7328 17.012V18.5585Z"
                            fill="currentColor"/>
                    </svg>                      
                    Öğrenciler :
                  </span>
                                <span class="td_semibold td_accent_color">230</span>
                            </li>
                        </ul>
                        <div class="td_height_30 td_height_lg_30"></div>
                        <a href="cart.html" class="td_btn td_style_1 td_radius_10 td_medium w-100">
                <span class="td_btn_in td_white_color td_accent_bg">
                  <span>Satın Al</span>
                </span>
                        </a>
                        <div class="td_height_40 td_height_lg_30"></div>
                        <h3 class="td_fs_20 td_semibold td_mb_15">Paylaş:</h3>
                        <div class="td_footer_social_btns td_fs_18 td_accent_color">
                            <a href="#" class="td_center">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                            <a href="#" class="td_center">
                                <i class="fa-brands fa-x-twitter"></i>
                            </a>
                            <a href="#" class="td_center">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                            <a href="#" class="td_center">
                                <i class="fa-brands fa-pinterest-p"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="td_height_60 td_height_lg_60"></div>
        <div class="container">
            <h2 class="td_fs_48 td_mb_50">Beğenebileceğiniz Ürünler</h2>
            <div class="row td_gap_y_30 td_row_gap_30">
                <div class="col-lg-4 col-md-6">
                    <div class="td_card td_style_3 d-block td_radius_10">
                        <span class="td_card_label td_accent_bg td_white_color">Yeni</span>
                        <a href="product-details.html" class="td_card_thumb">
                            <img src="~/theme/web_UI/assets/img/home_1/course_thumb_1.jpg" alt="">
                        </a>
                        <div class="td_card_info td_white_bg">
                            <div class="td_card_info_in">
                                <ul class="td_card_meta td_mp_0 td_fs_18 td_medium td_heading_color">
                                    <li>
                                        <img src="~/theme/web_UI/assets/img/icons/user_3.svg" alt="">
                                        <span class="td_opacity_7">150 Adet</span>
                                    </li>
                                    <li>
                                        <img src="~/theme/web_UI/assets/img/icons/book.svg" alt="">
                                        <span class="td_opacity_7">12 Ay Garanti</span>
                                    </li>
                                </ul>
                                <a href="products-grid-with-sidebar.html"
                                   class="td_card_category td_fs_14 td_bold td_heading_color td_mb_14"><span>Veri Analitiği</span></a>
                                <h2 class="td_card_title td_fs_24 td_mb_16"><a href="product-details.html">Saygın Eğitim
                                    Başlatın ve Becerilerinizi Geliştirin</a></h2>
                                <p class="td_card_subtitle td_heading_color td_opacity_7 td_mb_20">Uzaklarda, kelime
                                    dağlarının arkasında, Consonantia'dan uzakta.</p>
                                <div class="td_card_review">
                                    <div class="td_rating" data-rating="4.5">
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <div class="td_rating_percentage">
                                            <i class="fa-solid fa-star fa-fw"></i>
                                            <i class="fa-solid fa-star fa-fw"></i>
                                            <i class="fa-solid fa-star fa-fw"></i>
                                            <i class="fa-solid fa-star fa-fw"></i>
                                            <i class="fa-solid fa-star fa-fw"></i>
                                        </div>
                                    </div>
                                    <span class="td_heading_color td_opacity_5 td_medium">(5.0/5 Puan)</span>
                                </div>
                                <div class="td_card_btn">
                                    <a href="cart.html" class="td_btn td_style_1 td_radius_10 td_medium">
                      <span class="td_btn_in td_white_color td_accent_bg">
                        <span>Şimdi Satın Al</span>
                      </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="td_card td_style_3 d-block td_radius_10">
                        <span class="td_card_label td_accent_bg td_white_color">Yeni</span>
                        <a href="product-details.html" class="td_card_thumb">
                            <img src="~/theme/web_UI/assets/img/home_1/course_thumb_2.jpg" alt="">
                        </a>
                        <div class="td_card_info td_white_bg">
                            <div class="td_card_info_in">
                                <ul class="td_card_meta td_mp_0 td_fs_18 td_medium td_heading_color">
                                    <li>
                                        <img src="~/theme/web_UI/assets/img/icons/user_3.svg" alt="">
                                        <span class="td_opacity_7">100 Adet</span>
                                    </li>
                                    <li>
                                        <img src="~/theme/web_UI/assets/img/icons/book.svg" alt="">
                                        <span class="td_opacity_7">20 Ay Garanti</span>
                                    </li>
                                </ul>
                                <a href="products-grid-with-sidebar.html"
                                   class="td_card_category td_fs_14 td_bold td_heading_color td_mb_14"><span>Yazılım Mühendisi</span></a>
                                <h2 class="td_card_title td_fs_24 td_mb_16"><a href="product-details.html">Teknolojiyi
                                    Ustalaştırın ve Kariyerinizi Yükseltin</a></h2>
                                <p class="td_card_subtitle td_heading_color td_opacity_7 td_mb_20">Kariyerinizi ileriye
                                    taşımak için teknolojinin gücünü açığa çıkarın.</p>
                                <div class="td_card_review">
                                    <div class="td_rating" data-rating="5">
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <div class="td_rating_percentage">
                                            <i class="fa-solid fa-star fa-fw"></i>
                                            <i class="fa-solid fa-star fa-fw"></i>
                                            <i class="fa-solid fa-star fa-fw"></i>
                                            <i class="fa-solid fa-star fa-fw"></i>
                                            <i class="fa-solid fa-star fa-fw"></i>
                                        </div>
                                    </div>
                                    <span class="td_heading_color td_opacity_5 td_medium">(5.0/10 Puan)</span>
                                </div>
                                <div class="td_card_btn">
                                    <a href="cart.html" class="td_btn td_style_1 td_radius_10 td_medium">
                      <span class="td_btn_in td_white_color td_accent_bg">
                        <span>Şimdi Satın Al</span>
                      </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="td_card td_style_3 d-block td_radius_10">
                        <span class="td_card_label td_accent_bg td_white_color">Yeni</span>
                        <a asp-controller="Home" asp-action="Product" class="td_card_thumb">
                            <img src="~/theme/web_UI/assets/img/home_1/course_thumb_3.jpg" alt="">
                        </a>
                        <div class="td_card_info td_white_bg">
                            <div class="td_card_info_in">
                                <ul class="td_card_meta td_mp_0 td_fs_18 td_medium td_heading_color">
                                    <li>
                                        <img src="~/theme/web_UI/assets/img/icons/user_3.svg" alt="">
                                        <span class="td_opacity_7">300 Adet</span>
                                    </li>
                                    <li>
                                        <img src="~/theme/web_UI/assets/img/icons/book.svg" alt="">
                                        <span class="td_opacity_7">8 Ay Garanti</span>
                                    </li>
                                </ul>
                                <a href="products-grid-with-sidebar.html"
                                   class="td_card_category td_fs_14 td_bold td_heading_color td_mb_14"><span>Sanat Lisansı</span></a>
                                <h2 class="td_card_title td_fs_24 td_mb_16"><a href="product-details.html">Yaratıcılığı
                                    Artırın ve Ufkunuzu Genişletin</a></h2>
                                <p class="td_card_subtitle td_heading_color td_opacity_7 td_mb_20">Yaratıcı düşüncenizi
                                    geliştirmek için yenilikçi teknikleri keşfedin.</p>
                                <div class="td_card_review">
                                    <div class="td_rating" data-rating="5">
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <div class="td_rating_percentage">
                                            <i class="fa-solid fa-star fa-fw"></i>
                                            <i class="fa-solid fa-star fa-fw"></i>
                                            <i class="fa-solid fa-star fa-fw"></i>
                                            <i class="fa-solid fa-star fa-fw"></i>
                                            <i class="fa-solid fa-star fa-fw"></i>
                                        </div>
                                    </div>
                                    <span class="td_heading_color td_opacity_5 td_medium">(5.0/12 Puan)</span>
                                </div>
                                <div class="td_card_btn">
                                    <a asp-controller="Home" asp-action="Cart" class="td_btn td_style_1 td_radius_10 td_medium">
                      <span class="td_btn_in td_white_color td_accent_bg">
                        <span>Şimdi Satın Al</span>
                      </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="td_height_120 td_height_lg_80"></div>
    </section>
</main>
