@{
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Adam Asmaca - Fullscreen";
}

<link href="~/css/AdamAsmaca.css" rel="stylesheet"/>

<div class="container-xl" style="margin-top:1rem;">
    <div class="fullscreen-container">
        <div class="asmaca-header">
            Adam Asmaca Oyunu
        </div>
        <div class="game-area">
            
            <div class="hangman-canvas" id="hangmanCanvas">
                
            </div>
            <div>
                <div class="letters">
                    
                    @foreach (var c in "ABCÇDEFGĞHIİJKLMNOÖPRSŞTUÜVYZ".ToCharArray())
                    {
                        <button class="letter-btn">@c</button>
                    }
                </div>
                <div style="margin-top:1rem;">
                    <button id="endGameBtn" class="simple-btn" data-home="@Url.Action("Index","Games", new {area="Student"})">Oyunu Sonlandır</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/games/AdamAsmaca.js"></script>
}
