@{
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Kelime Bulmaca - Fullscreen";
}

<link href="~/css/KelimeBulmaca.css" rel="stylesheet"/>

<div class="container-xl" style="margin-top:1rem;">
    <div class="fullscreen-container">
        <div class="kelime-header">
            Kelime Bulmaca Oyunu
        </div>
        <div class="game-area">
            <div class="question-box" id="questionBox">
                Soru burada görünecek...
            </div>
            <div id="optionsArea">
                <button class="option-btn">Seçenek 1</button>
                <button class="option-btn">Seçenek 2</button>
                <button class="option-btn">Seçenek 3</button>
                <button class="option-btn">Seçenek 4</button>
            </div>
            <div style="margin-top: 2rem;">
                <button id="kbEndGame" class="simple-btn" data-home="@Url.Action("Index","Games", new {area="Student"})">Oyunu Sonlandır</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/games/KelimeBulmaca.js"></script>
}
