<footer class="td_footer td_style_1 td_color_1">
    <div class="container">
        <div class="td_footer_row">
            <!-- Hakkımızda Bölümü -->
            <div class="td_footer_col">
                <div class="td_footer_widget">
                    <div class="td_footer_text_widget td_fs_18">
                        <img src="~/theme/web_UI/assets/img/home_5/footer_logo_v2.svg" alt="Kelimedya">
                        <p>
                            Kelimedya, 2025 yılından bu yana yenilikçi çözümler sunarak müşterilerinin ihtiyaçlarını karşılamayı hedeflemektedir. Kaliteli ürünlerimiz ve müşteri odaklı hizmet anlayışımızla sektörde öncü bir konumdayız.
                        </p>
                    </div>
                    <ul class="td_footer_address_widget td_medium td_mp_0">
                        <li>
                            <i class="fa-solid fa-phone-volume"></i><a href="tel:+90 000 00 000">+90 (000) 00 000</a>
                        </li>
                        <li><i class="fa-solid fa-location-dot"></i>Ankara, Türkiye</li>
                    </ul>
                </div>
            </div>

            <!-- Hızlı Erişim Bölümü -->
            <div class="td_footer_col">
                <div class="td_footer_widget">
                    <h2 class="td_footer_widget_title td_fs_32 td_white_color td_medium td_mb_30">Hızlı Erişim</h2>
                    <ul class="td_footer_widget_menu">
                        <li><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                        <li><a asp-controller="Home" asp-action="About">Hakkımızda</a></li>
                        <li><a asp-controller="Home" asp-action="Contact">İletişim</a></li>
                        <li><a href="#">Yardım Merkezi</a></li>
                        <li><a href="#">Gizlilik Politikası</a></li>
                        <li><a href="#">Kullanım Anlaşması</a></li>
                    </ul>
                </div>
            </div>

            <!-- Ürünlerimiz Bölümü -->
            <div class="td_footer_col">
                <div class="td_footer_widget">
                    <h2 class="td_footer_widget_title td_fs_32 td_white_color td_medium td_mb_30">Ürünlerimiz</h2>
                    <ul class="td_footer_widget_menu">
                        <li><a href="course-details.html">İş Geliştirme</a></li>
                        <li><a href="course-details.html">Yazılım Geliştirme</a></li>
                        <li><a href="course-details.html">Müşteri Yorumları</a></li>
                        <li><a href="course-details.html">SEO Optimizasyon</a></li>
                        <li><a href="course-details.html">Web Tasarım</a></li>
                        <li><a href="course-details.html">Yaşam Koçluğu</a></li>
                    </ul>
                </div>
            </div>

            <!-- Bülten ve Sosyal Medya Bölümü -->
            <div class="td_footer_col">
                <div class="td_footer_widget">
                    <h2 class="td_footer_widget_title td_fs_32 td_white_color td_medium td_mb_30">Bültenimiz</h2>
                    <div class="td_newsletter td_style_1">
                        <p class="td_mb_20 td_opacity_7">
                            Yeniliklerimizden ve kampanyalarımızdan haberdar olmak için bültenimize abone olun. E-posta adresinizi bırakın, sizi bilgilendirelim!
                        </p>
                        <form action="#" class="td_newsletter_form">
                            <input type="email" class="td_newsletter_input" placeholder="E-posta adresiniz">
                            <button type="submit" class="td_btn td_style_1 td_radius_30 td_medium">
                                <span class="td_btn_in td_white_color td_accent_bg">
                                    <span>Abone Ol</span>
                                </span>
                            </button>
                        </form>
                    </div>
                    <div class="td_footer_social_btns td_fs_20">
                        <a href="#" class="td_center">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                        <a href="#" class="td_center">
                            <i class="fa-brands fa-x-twitter"></i>
                        </a>
                        <a href="#" class="td_center">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Alt Kısım -->
    <div class="td_footer_bottom td_fs_18">
        <div class="container">
            <div class="td_footer_bottom_in">
                <p class="td_copyright mb-0">Copyright © Kelimedya | Tüm Hakları Saklıdır</p>
                <ul class="td_footer_widget_menu">
                    <li><a href="#">Kullanım Koşulları</a></li>
                    <li><a href="#">Gizlilik Politikası</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Yukarı Çık Butonu -->
<div class="td_scrollup">
    <i class="fa-solid fa-arrow-up"></i>
</div>