@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Ayarlar";
}

<div class="page-header d-print-none">
    <div class="container-xl">
        <h2 class="page-title">Ayarlar</h2>
        <div class="text-muted mt-1">
            Sistem genel ayarlarını buradan yönetebilirsiniz.
        </div>
    </div>
</div>

<div class="page-body pt-2">
    <div class="container-xl">
        <div class="card">
            <div class="card-body">

                <ul class="nav nav-tabs" data-bs-toggle="tabs">
                    <li class="nav-item">
                        <a href="#general" class="nav-link active" data-bs-toggle="tab">Genel Ayarlar</a>
                    </li>
                </ul>
                <div class="tab-content mt-3">
                    <div class="tab-pane active" id="general">
                        <form method="post" asp-action="SaveGeneralSettings">
                            <div class="mb-3">
                                <label class="form-label">Kullanıcı Adı</label>
                                <input type="text" class="form-control" name="SmtpUser"/>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Şifre</label>
                                <input type="password" class="form-control" name="SmtpPassword"/>
                            </div>
                            <div class="text-end">
                                <button type="submit" class="btn btn-primary">Kaydet</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>