html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
#loginForm .text-danger,
#registerForm .text-danger {
  display: block;
  margin-left: 0;
  font-size: 13px;
  color: #dc3545;
  margin-bottom: 10px;
}

#loginForm .input-error,
#registerForm .input-error {
  border: 1px solid #dc3545;
  box-shadow: 0 0 5px rgba(220, 53, 69, 0.5);
}

#loginForm .td_form_field,
#registerForm .td_form_field {
  margin-bottom: 10px;
}
.td_sign_thumb img {
  -o-object-fit: contain !important;
  object-fit: contain !important;
}
